<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
</head>
<body>
    <h2>Argumentos de entrada</h2>
    <h3><%= argv %></h3>
    <h2>Nombre de la plataforma (sistema operativo)</h2>
    <h3><%= sistema %></h3>
    <h2>Versión de node.js</h2>
    <h3><%= version %></h3>
    <h2>Memoria total reservada (rss)</h2>
    <h3><%= memoria %></h3>
    <h2>Path de ejecución</h2>
    <h3><%= path %></h3>
    <h2>Process id</h2>
    <h3><%= processId %></h3>
    <h2>Carpeta del proyecto</h2>
    <h3><%= carpeta %></h3>
   
</body>
</html>